.button-animated {
    position: relative;
    overflow: hidden;
    transition: .4s;
    color: hsl(0, 0%, 21%);
}

.button-animated:after {
    position: absolute;
    transition: .4s;
    content: '';
    width: 0;
    left: 0;
    bottom: 0;
    height: 2px;
    background: hsl(0, 0%, 21%);
}
  
.button-animated:hover {
    cursor: pointer;
}
  
.button-animated:hover:after {
    width: 100%;
    left: 0%;
}
  