.button-animated {
    margin: 0;
    padding: 20px;

    text-align: center;
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: 600;
    color: #FFF;

    position: relative;
    transition: .3s;
}

.button-animated:after {
    background: #FFF;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;

    position: absolute;
    transition: .3s;
    
    content: '';
}
  
.button-animated:hover {
    cursor: pointer;
}
  
.button-animated:hover:after {
    width: 100%;
}