.fadeinbody { 
    opacity: 0 !important;
    transform: translateY(-40px);
}

.hero-body {
    opacity: 1;
    transition: all 1.4s cubic-bezier(0.23, 1, 0.320, 1);
}

/* IE support */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .hero-body {
        min-height: 100vh;
    }
}
