.circular {
  border-radius: 50%;
  height: 200px;
  width: auto;
  filter: drop-shadow(0 0 0.75rem #BBB);
}

.header-image {
  background-image: url("https://i.imgur.com/5HekPlk.jpg");
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFF;
  z-index: 0;
}
