.hero-body {
  padding: 0 4.5rem !important;
}

.container {
  margin: 3rem 0 !important;
}

.form {
  padding: 0 20rem;
}

.aboutline {
  height: 1px;
  width: 15%;
  background-color: hsl(0, 0%, 86%);
  margin: 3rem auto;
}

.menuline {
  height: 1px;
  width: 8.5rem;
  background-color: hsl(0, 0%, 86%);
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: calc(100% - 8.5rem);
}

.about-text {
  padding: 0 20rem;
}

.welcome-heading {
  padding-right: 40rem;
}


.contact-text {
  padding: 3rem 0;
  padding-top: 2.5rem;
}

.work-heading {
  padding-bottom: 3rem;
}

@media screen and (max-width: 1087px) {
  .aboutline {
    width: 30%;
  }

  .about-text {
    padding: 0 0;
  }

  .form {
    padding: 0 0;
  }  

  .contact-text {
    padding: 3rem 0;
    padding-top: 2.5rem;
  }

  .hero-body {
    padding: 1.5rem 1.5rem !important;
  }

  .welcome-heading {
    padding: 0 0rem;
  }
}
