.hero-body {
  padding: 2rem 1.5rem !important;
}

.aboutline {
  height: 1px;
  width: 15%;
  background-color: #363636;
  margin: 3rem auto;
}

.about-text {
  padding: 0 15rem;
}

.welcome-text {
  padding: 1rem 0;
  padding-top: 0.5rem;
}

.contact-text {
  padding: 1rem 0;
  padding-top: 0.5rem;
}

.work-heading {
  padding-bottom: 3rem;
}

.work-container {
  margin: 0 3rem;
}

@media screen and (max-width: 1087px) {
  .aboutline {
    width: 30%;
  }

  .about-text {
    padding: 0 0;
  }

  .work-container {
    margin: 0 0;
  }
}
