.navbar {
    padding: 0 4.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.spaced-letters {
    letter-spacing: 2px;
}

@media screen and (max-width: 1087px) {
    .navbar {
        padding: 0 1.5rem;
    }

    .navbar-item, .navbar-link {
        padding: 0 !important;
        padding-top: 0.75rem !important;
        z-index: 5;
    }
}
