$white: #ffffff;
$darkgrey: #222;
$grey: #ededed;
$purple: #18003C;
$red: #FF4A49;
$info: $purple;
$navbar-dropdown-arrow: #222;
$link: hsl(171, 100%, 41%);
$navbar-item-hover-background-color: hsl(0,0%,96%);